{% load static %}

        <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
        <script src="{% static 'js/swiper.min.js' %}"></script>
        <script src="{% static 'js/custome.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script>new WOW().init();</script>