{% extends 'base/base_chief.html' %}

        {% block title %}Sign Up{% endblock title %}
        {% block css %}
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/search_meals.css' %}">
        {% endblock css %}

        {% block content %}
            <section class="search_meals text-center">
                <div class="container">
                    <h1>
                        Please confirm your email address through the mail we sent you.
                    </h1>
                </div>
            </section>
        {% endblock content %}