{% extends 'base/base_chief.html' %}
        {% block title %}Update Profile{% endblock title %}
        {% block css %}
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/update_profile.css' %}">
        {% endblock css %}
{% block content %}
    <section class="update_sec">
        <div class="container">
            {% if state == None and user.groups.all.0.name != 'normal_users' and diff_time < 1%}
                <h1>your request is pending</h1>
            {% else %}
            {% if state == True or user.groups.all.0.name == 'normal_users' or diff_time >= 1 or state == False%}
            {{diff_time}}
            <form method="post" enctype="multipart/form-data" class="update_form" first_redirect="/validate-email" second_redirect="/{{request.user.pk}}/update-profile" action="">
            {% csrf_token %}
                <!--{{ form.as_p }}-->
                <div class="col-sm-6">
                    {% if form.first_name.errors %}
                        <div class="col-xs-12 alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            <strong>{{ form.first_name.errors|escape }}</strong>
                        </div>
                    {% endif %}
                    <label>First Name:</label>
                    {{form.first_name}}
                </div>

                <div class="col-sm-6">
                    {% if form.last_name.errors %}
                        <div class="col-xs-12 alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            <strong>{{ form.last_name.errors|escape }}</strong>
                        </div>
                    {% endif %}
                    <label>Last Name:</label>
                    {{form.last_name}}
                </div>

                <div class="col-sm-4">
                    {% if form.gender.errors %}
                        <div class="col-xs-12 alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            <strong>{{ form.gender.errors|escape }}</strong>
                        </div>
                    {% endif %}
                    <label>Gender:</label>
                    {{form.gender}}
                </div>

                <div class="col-sm-4">
                    {% if form.date_birth.errors %}
                        <div class="col-xs-12 alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            <strong>{{ form.date_birth.errors|escape }}</strong>
                        </div>
                    {% endif %}
                    <label>Birth Date:</label>
                    {{form.date_birth}}
                </div>


                <div class="col-sm-4">
                    {% if form.phone.errors %}
                        <div class="col-xs-12 alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            <strong>{{ form.phone.errors|escape }}</strong>
                        </div>
                    {% endif %}
                    <label>Phone No:</label>
                    {{form.phone}}
                </div>


                <div class="col-sm-6">
                    {% if form.img.errors %}
                        <div class="col-xs-12 alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            <strong>{{ form.img.errors|escape }}</strong>
                        </div>
                    {% endif %}
                    <label>Image:</label>
                    <div class="files">
                        {{form.img}}
                    </div>
                </div>

                {% ifequal user.groups.all.0.name 'chiefs' %}
                <div class="col-sm-6">
                    {% if form.cv.errors %}
                        <div class="col-xs-12 alert alert-danger">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            <strong>{{ form.cv.errors|escape }}</strong>
                        </div>
                    {% endif %}
                    <label>CV:</label>
                    <div class="files">
                        {{form.cv}}
                    </div>
                </div>
                {% endifequal %}

                <div class="buttons">
                    <button type="submit" id="submit" name="submit">{% if state == True %}Update{% else %}Send new request{% endif %}</button>
                    <a href="/email-update" class="mail_link">Change you Email</a>
                </div>
            </form>
                {% else %}
                    <h1>your request has been rejected</h1>
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}