{% extends 'base/admin_base.html' %}
        {% block title %}Change Pass{% endblock title %}
        {% block css %}
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/change_pass.css' %}">
        {% endblock css %}
        {% block content %}
        <section class="update_sec">
        <div class="container">

            <form action="" method="post">
                {% csrf_token %}

                {% if message.error %}
                    <h5>{{ message.error }}</h5>
                {% endif %}
                {{ form }}
                <button type="submit"> UPDATE</button>
            </form>
        </div>
    </section>
{% endblock %}