{% extends 'base/base_chief.html' %}

        {% block title %}Sign Up{% endblock title %}
        {% block css %}
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/search_meals.css' %}">
        {% endblock css %}

        {% block content %}
            <section class="search_meals text-center">
                <div class="container">
                    <h1>Thanks for activating your Atbokhly account<br>you can now <a href="/auth/login">Login</a> to your account</h1>
                </div>
            </section>
        {% endblock content %}