{% extends 'base/base_chief.html' %}
{% block title %}Reset Pass{% endblock title %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/change_pass.css' %}">
{% endblock css %}
{% block content %}
<section class="update_sec">
    <div class="container">

        <form method="post">
            <h2>Enter new password</h2>
            {% csrf_token %}
            {% if form.new_password1.errors %}
            <div class="col-xs-12 alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>
                <strong>{{ form.new_password1.errors|escape }}</strong>
            </div>
            {% endif %}
            <label>New Password:</label>
            {{ form.new_password1 }}
            <ul>
                <li>Your password can't be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can't be a commonly used password.</li>
                <li>Your password can't be entirely numeric.</li>
            </ul>

            {% if form.new_password2.errors %}
            <div class="col-xs-12 alert alert-danger">
                <a class="close" href="#" data-dismiss="alert">×</a>
                <strong>{{ form.new_password2.errors|escape }}</strong>
            </div>
            {% endif %}
            <label>Confirm Password:</label>
            {{ form.new_password2 }}
            <button type="submit">Reset password</button>
        </form>
    </div>
</section>
{% endblock %}
