{% extends 'base/base_chief.html' %}
        {% block title %}Reset Pass{% endblock title %}
        {% block css %}
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/change_pass.css' %}">
        {% endblock css %}
{% block content %}
<section class="update_sec">
    <div class="container">
        <form method="post">
            <h2>Reset Password</h2>
            <p>
                Forgot your password? Enter your email and then you will recieve an email with instructions to follow.
            </p>
            {% csrf_token %}
            <label>Email:</label>
            {{ form.email }}
            <button type="submit">Reset password</button>
        </form>
    </div>
</section>
{% endblock %}
