{% extends 'base/base_chief.html' %}
{% block title %}Reset Pass{% endblock title %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/change_pass.css' %}">
{% endblock css %}
{% block content %}
<section class="update_sec">
    <div class="container">
        <form>
            <h2>Password reset sent</h2>
            <p>
                We've emailed you instructions for setting your password, if an account
                exists with the email you entered. You should receive them shortly.

                If you don't receive an email, please make sure you've entered the address
                you registered with, and check your spam folder.
            </p>
        </form>

    </div>
</section>
{% endblock %}
