{% extends 'base/base_chief.html' %}

        {% block title %}Reset Pass{% endblock title %}
        {% block css %}
            {% load static %}
            <!--<link rel="stylesheet" type="text/css" href="{% static 'css/search_meals.css' %}">-->
            <style>
                .search_meals{
                    margin-top: 100px;
                    min-height: 550px;
                }
                .search_meals .container{
                   background: rgba(1,1,1,.7);
                   border-radius: 10px;
                }
                h1{

                    padding: 20px;
                    color: #fff;
                    direction: rtl;
                    word-wrap: break-word;
                    font-size: 25px;
                }
                a{
                    background: #1B435D;
                    font-size: 16px;
                    padding: 10px 20px;
                    color: #fff;
                    transition: all .3s linear;
                }
                a:hover{
                    color: #1B435D;
                    background: #fff;
                }
            </style>
        {% endblock css %}
{% block content %}

<section class="search_meals text-center">
    <div class="container">
        <h1>Password reset complete <br><br><a href="{% url 'user_profile:user-home' %}">Home</a></h1>

    </div>
</section>
{% endblock %}
