<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Atbokhly | {% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="icon" href="{% static 'images/logo.png' %}">
        {% include 'static/chief/css.html' %}

        {% block css %}{% endblock css %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->

        <header>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-6 col-sm-5 text-center col-sm-push-3 meal_search">
                        <form method="GET" action="{% url 'search:search_by_meal_name'  %}">
                            <input name="q" required="required" value="{{request.GET.q}}" placeholder="بحث بأسم الوجبه">
                            <button type="submit">
                                <i class="fa fa-search fa-lg"></i>
                            </button>
                        </form> <!-- search by meal name -->
                    </div>

                    <div class="col-sm-3 col-xs-5 col-md-pull-6 col-sm-pull-5 logo">
                        <a href="{% url 'admin_pannel:home' %}">Atbokhly</a>

                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-7 tgl_btn">
                        <div class="authenticate">
                            <a href="{% url 'admin_pannel:logout' %}" >تسجيل خروج <i class="fa fa-sign-out"></i></a>
                        </div>
                        <button id="toggle_btn" data-toggle="modal">
                            <i class="fa fa-arrow-circle-left" id="form_arrow"></i>
                            <span class="hidden-xs">القائمة</span>
                        </button>
                    </div>
                </div>
            </div>
        </header>

        <!-- end header -->

        <!-- start navbar -->

        <nav id="navbar">
            {% if user.is_authenticated %}
            <div class="photo">
                <li class="content list-unstyled">

                    <span>
                        {% if user.is_authenticated %}
                        Hi,
                        {% if request.user.first_name %}
                            {{ request.user.first_name }}
                        {% else %}
                            {{ request.user }}
                        {% endif %}
                        {% endif %}
                    </span>


                    <div class="account">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'admin_pannel:update-profile' request.user.pk %}">Update Account</a></li>
                            <li><a href="{% url 'admin_pannel:user-profile' request.user.pk %}">View Profile</a></li>
                            <li><a href="{% url 'admin_pannel:change-password' %}">Change Password</a></li>
                            <li><a href="{% url 'admin_pannel:update-email' %}" class="mail_link">Change you Email</a></li>
                        </ul>
                    </div>
                </li>
            </div>
            {% endif %}
            <div class="main_nav">
                <ul class="list-unstyled">

                    <!--<li><a href="/" target="_blank">رؤية الموقع</a></li>-->
                    <!--<li><a href="/about-us">عن الموقع</a></li>-->
                    <!--<li><a href="{% url 'contact:email' %}">تواصل معنا</a></li>-->
                    {% if user.is_authenticated and user.is_superuser %}
                    <li><a href="{% url 'admin_pannel:home' %}">الرئيسية</a></li>
                    <li><a href="">charts</a></li>
                    <hr>
                    <li><a href="">اضافة قسم</a></li>
                    <li><a href="">اضافة مكون</a></li>
                    <li><a href="">اضافة اكله</a></li>
                    <hr>
                    <li><a href="">الطلبات</a></li>
                    <li><a href="">الرسائل</a></li>

                    <!--<li><a href="">المعلومات</a></li>-->
                    {% endif %}
                </ul>
                <img src="{% static 'images/logo.png' %}">
            </div>
        </nav>

        <!-- end navbar -->


        {% block content %}

        {% endblock %}

        <!-- start footer -->

        <footer class="col-xs-12 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 copyrights">
                        <p>All Copyrights © 2018 reserved for <a href="/">Atbokhly</a></p>
                    </div>

                    <div class="col-sm-4 policies text-center">
                        <p>Meet our <a href="/policies">Policies</a></p>
                    </div>

                    <div class="col-sm-4 social">
                        <ul class="list-unstyled list-inline">
                            <li><a href="https://www.facebook.com" class="facebook" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
                            <li><a href="https://www.twitter.com" class="twitter" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                            <li><a href="https://www.google.com" class="google" target="_blank"><i class="fa fa-google-plus fa-lg"></i></a></li>
                            <li><a href="https://www.istagram.com" class="insta" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>


        <a href="javascript:;" class="scroll_up"><i class="fa fa-caret-up fa-lg"></i></a>
        <!-- start footer -->

        <!-- start scripts -->
        {% include 'static/chief/js.html' %}
        {% block javascript %}{% endblock %}

        <!-- end scipts -->
    </body>
</html>
